EMAIL_USERNAME: <GMAIL_ACCOUNT>
EMAIL_PASSWORD: <GMAIL_PASSWORD>
HOST: "localhost:3000"

DATABASE_HOSTNAME: "localhost"
DATABASE_NAME: "my_blog"
DATABASE_USERNAME: "root"
DATABASE_PASSWORD: "khacthe91"
REDIS_HOSTNAME: "localhost"
MYSQL_POOL: "20"